body {
    background-color: black;
    color: lightgreen;
    height: 92vh;
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 